<! ––Autores: Vasquez Miguel, Alexandra Ivana & Barandiaran Japaja, Jhossepy Alexander & Marquez Mendez, Andrea Janet.––>
<! ––muestra vista de horario del usuario––>

<section class="card ajuste">
<div class="card-body">
    <h1>Conductores</h1>
    
    <br>

    

    {{#each carsArray}}
        <div class="card">
        <h5 class="card-header">Conductor: {{driver_in_service_id.user}}</h5>
        
        <div class="card-body">
            <p class="card-text">Carro: {{institution_car_id.license_plate_number}}</p>
            <p class="card-text">Nombres: {{driver_in_service_id.names}}, {{driver_in_service_id.last_names}}</p>
            <p class="card-text">Correo: {{driver_in_service_id.email}}</p>
            <p class="card-text">Dirección: {{driver_in_service_id.address}}</p>
            <p class="card-text">Genero: {{driver_in_service_id.gender}}</p>
            <p class="card-text">Edad: {{driver_in_service_id.age}}</p>
        </div>
        </div>
    {{/each}}





    




</div>
</section>